img {
    width: 140px;
    height: 150px;
    box-shadow: 0 0 1px 5px black;
    border-radius: 10px;
}

div {

    align-items: center;
}

div h1 {
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 40px;
}
body {

    font-family: oswald, Verdana, sans-serif;
    background-image: url(../imagens/fundo-branco-com-fundo-branco-e-fundo-azul-claro_689904-124050.avif)
 }
 
 
 
 
 h1 {
 animation-name: Giuseppe_costa_strapaicci;
 animation-duration: 4s;
 animation-iteration-count: 3s; 
 
 font-family: 'Rubik Iso', cursive;
    color:white;
    background-color: black;
    padding: 10px;
    box-shadow: inset 0px 0px 5px;
    border:black 8px;
    border-style: solid;
    border-width: 8px;
 
    text-align: center;
    text-transform: uppercase;
 
    box-shadow: white 0 0 20px inset;
 
 
 
 
 }
 
 h2 {
    background: linear-gradient(to right, white,blue, white)
 }
 
 
 
 h3 {
   
    
 
    background: linear-gradient(to right, white,blue, white)
 
 }

 h4 {
    background: linear-gradient(to right, white,blue, white)
 }

 h5 {
    background: linear-gradient(to right, white,blue, white)
 }



 .flex-container {
  
  }

  footer{
   
   height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: bold;


}


 
 
 
 

 
 


 
 


 
 
 
 
 

 
 

 
 @keyframes Giuseppe_costa_strapaicci{
   
    from{transform: translatey(-100px);
    opacity: 0; }
 
    
    to {transform: translatey(0); }
    
 }
 

 
 
 li:first-child { color: black ;}
 li:last-child {color: black}
 li:nth-child(3), li:nth-child(2) { color: black;}
 