body {
    color: greenyellow;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid greenyellow;
}
.center {
    display: flex;
   justify-content: center;
}

